modules = ["nodejs-20", "web"]
run = "cd react-router-app && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42205774
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd react-router-app && npm run dev"
